
#NavBar {
  position: relative;
  float: left;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

#NavBar > .inner {
  position: relative;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
}

#left {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#left > i, #right > i {
  font-size: 24pt;
}


#selected-date {
  position: relative;
  float: left;
  width: 60%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#right {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}